---
layout: default
title: UpRaise Consulting
---

{% for founder in site.data.founders %}
  {% if founder.id == "pauline-lewis" %}
    {% capture biopath %}founders/{{ founder.id }}.md{% endcapture %}
    {% capture bio %}{% include {{biopath}} %}{% endcapture %}
    <div class="popup">
      <div class="founder__headshot"><img src="/img/founders/{{ founder.id }}.jpg" alt=""></div>
      <div class="founder__name">{{ founder.name }}</div>
      <div class="founder__title">{{ founder.title }}</div>
      <div class="founder__bio">{{ bio | markdownify }}</div>
    </div>
  {% endif %}
{% endfor %}