.lo-block
  width: 100%
  margin-bottom: 4em

  &--hero
    background: url(/img/backgrounds/hero.jpg) no-repeat center center fixed
    background-size: cover
    color: $white

  &--quotes
    background: url(/img/backgrounds/quotes.jpg) no-repeat center center fixed
    background-size: cover
    color: $white

  &--webinars
    background: $blue
    color: $white

  &--contact
    background: $green
    color: $white