---
layout: home
title: Upraise Consulting
---
<div class="lo-block lo-block--hero js-fill-viewport">
  <div class="lo-block__top">
    <div class="header">
      <div class="header__logo">
        <img src="/img/logo.svg" alt="UpRaise Consulting" />
      </div>
      <div class="header__nav">
        <ul class="nav">
          <li class="nav__link nav__link--capabilities"><a href="#what-we-do">What We Do</a></li>
          <li class="nav__link nav__link--events"><a href="#latest-work">Latest Work</a></li>
          <li class="nav__link nav__link--founders"><a href="#leadership">Leadership</a></li>
          <li class="nav__link nav__link--contact"><a href="#contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lo-block__bottom">
    <div class="hero">
      <p>We leverage the intersection of technology and human behavior to help nonprofits raise awareness and money online.</p>
    </div>
  </div>
</div>
<div class="lo-block" id="what-we-do">
  <h1>What We Do</h1>
  <div class="capabilities">
    <ul class="capabilities__list">
      {% for capability in site.data.capabilities %}
        <li class="capability">{{ capability.name }}</li>
      {% endfor %}
    </ul>
    <div class="capabilities__action">
      <a href="#contact-us" class="button button--green">Find Out How We Can Help You</a>
    </div>
  </div>
</div>
<div class="lo-block lo-block--quotes">
  <div class="quotes">
    <div class="cycle-slideshow"
      data-cycle-slides="> div"
      data-cycle-pager=".pager"
      data-cycle-auto-height="3"
      data-cycle-timeout=20000
      data-cycle-pause-on-hover="true">
    {% for quote in site.data.quotes %}
      {% capture contentpath %}quotes/{{ quote.id }}.md{% endcapture %}
      {% capture content %}{% include {{contentpath}} %}{% endcapture %}

      <div class="quote quote--{{ quote.id }}">
        <div class="quote__content">{{ content | markdownify }}</div>
        <div class="quote__attribution">
          <div class="quote__image"><img src="/img/quotes/{{ quote.id }}.jpg" alt="{{ quote.name }}"></div>
          <div class="quote__person">
            <div class="quote__name">{{ quote.name }}</div>
            <div class="quote__title">{{ quote.title }}</div>
            <div class="quote__organization">{{ quote.org }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="pager"></div>
</div>
<div class="lo-block" id="latest-work">
  <h1>Speaking Engagements</h1>
  <div class="events js-events">
  </div>
  <div class="js-events-loading loading">
    <div class="loading__dot loading__dot--first"></div>
    <div class="loading__dot loading__dot--second"></div>
    <div class="loading__dot loading__dot--third"></div>
  </div>
</div>
<div class="lo-block">
  <h1>Featured Posts</h1>
  <div class="links">
      {% for blog in site.data.blogs %}
      <div class="link">
        <div class="link__bullet"><img src="/img/icon-bullet.svg"></div>
        <div class="link__date">{{ blog.date }}</div>
        <div class="link__url"><a href="{{ blog.url }}">{{ blog.name }}</a></div>
      </div>
      {%  endfor %}
  </div>
</div>
<div class="lo-block lo-block--highlight">
  <div class="highlight">
    <div class="highlight__icon">
      <div class="u-icon">{% include svg/icon-globe.svg %}</div>
    </div>
    <div class="js-highlight"></div>
    <div class="js-highlight-loading loading loading--highlight">
      <div class="loading__dot loading__dot--first"></div>
      <div class="loading__dot loading__dot--second"></div>
      <div class="loading__dot loading__dot--third"></div>
    </div>
  </div>
</div>
<div class="lo-block" id="leadership">
  <h1>Leadership</h1>
  <div class="founders">
    {% for founder in site.data.founders %}
      {% capture biopath %}founders/{{ founder.id }}.md{% endcapture %}
      {% capture bio %}{% include {{biopath}} %}{% endcapture %}
      <div class="founder">
        <div class="founder__headshot"><img src="/img/founders/{{ founder.id }}.jpg" alt=""></div>
        <div class="founder__name">{{ founder.name }}</div>
        <div class="founder__title">{{ founder.title }}</div>
        <div class="founder__bio">{{ bio | truncatewords: 30 }}</div>
        <div class="founder__action"><a href="/bios/{{ founder.id }}.html" class="js-bio-popup button button--green">Find Out More</a></div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="lo-block lo-block--contact" id="contact-us">
  <div class="contact">
    <h1>Contact UpRaise</h1>
    <div class="form">
      <form action="//formspree.io/matt@upraiseconsulting.com" method="POST">
        <div class="form__split-inputs">
          <!-- NAME -->
          <div class="form__group">
            <label for="name">Name</label>
            <div class="form__input-with-icon">
              <div class="form__input-icon"><div class="u-icon">{% include svg/icon-name.svg %}</div></div>
              <input type="text" name="name" placeholder="Your Name">
            </div>
          </div>

          <!-- ORGANIZATION -->
          <div class="form__group">
            <label for="organization">Organization</label>
            <div class="form__input-with-icon">
              <div class="form__input-icon"><div class="u-icon">{% include svg/icon-org.svg %}</div></div>
              <input type="text" name="organization" placeholder="Your Organization">
            </div>
          </div>
        </div>

        <div class="form__split-inputs">
          <!-- EMAIL -->
          <div class="form__group">
            <label for="_replyto">Email</label>
            <div class="form__input-with-icon">
              <div class="form__input-icon"><div class="u-icon">{% include svg/icon-email.svg %}</div></div>
              <input type="email" name="_replyto" placeholder="Your Email">
            </div>
          </div>

          <!-- PHONE -->
          <div class="form__group">
            <label for="phone">Telephone</label>
            <div class="form__input-with-icon">
              <div class="form__input-icon"><div class="u-icon">{% include svg/icon-phone.svg %}</div></div>
              <input type="text" name="phone" placeholder="Mobile or Landline">
            </div>
          </div>
        </div>

        <!-- CONTENT -->
        <div class="form__group">
          <label for="content">What do you need elevated?</label>
          <textarea name="content" placeholder="Raise awareness, raise money, combo?"></textarea>
        </div>

        <!-- TWITTER -->
        <div class="form__group">
          <label for="twitter">Twitter</label>
          <div class="form__input-with-icon">
            <div class="form__input-icon"><div class="u-icon">{% include svg/icon-twitter.svg %}</div></div>
            <input type="text" name="twitter" placeholder="Your @Username">
          </div>
        </div>

        <input type="hidden" name="_subject" value="Contact Form on upraiseconsulting.com Filled Out" />
        <input type="hidden" name="_next" value="//upraiseconsulting.com/thank-you.html" />

        <!-- SUBMIT -->
        <div class="form__submit">
          <input type="submit" value="Contact Us" class="button button--reverse">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="lo-block">
  <div class="twitter">
    <a href="//twitter.com/UpRaise_Consult" class="button button--blue" target="_blank"><div class="u-icon">{% include svg/icon-twitter.svg %}</div> Follow @UpRaise_Consult on Twitter</a>
  </div>
</div>
