.links
  +center(em(590))

.link
  position: relative
  padding-left: 1.5em
  margin-bottom: 1em


.link__bullet
  position: absolute
  top: 0
  left: 0
  width: 1em
  height: 1em

  .u-icon
    fill: $blue
    width: em(18)
    height: em(18)

.link__date
  font-size: em(16)
  color: $gray

.link__url
  +lato("normal", "normal")