.pager
  text-align: center
  overflow: hidden
  width: 100%
  margin-top: 2em

.pager span
  display: inline-block
  width: 0.75em
  height: 0.75em
  border-radius: 0.375em
  background: none
  cursor: pointer
  margin-right: 0.25em
  border: 2px solid $gray

.pager span.cycle-pager-active
  background: $green
  border: 2px solid $green

.pager > *
  cursor: pointer
