.quotes
  position: relative


.quote
  display: none // temporary, until javascript

  &:first-child
    display: block // temporary, until javascript


.quote__content
  +center(40em)
  font-size: 1.5em


.quote__attribution
  display: flex
  align-items: center
  justify-content: center


.quote__image
  width: 4em
  height: 4em
  border-radius: 2em
  overflow: hidden
  margin-right: 1em
  border: 0.25em solid $blue

.quote__name
  +lato("normal", "bold")

.quote__title,
.quote__organization
  font-size: 0.75em
  color: lighten($gray, 15%)