.quotes
  position: relative

.quotes__container
  position: relative
  width: 100%

.quote
  position: absolute
  top: 0
  animation-duration: 80s
  animation-name: carousel
  animation-iteration-count: infinite
  opacity: 0

  &:first-child
    position: static

  &--tonia-farman
    // no delay

  &--dan-lammot
    animation-delay: 20s

  &--scot-chisolm
    animation-delay: 40s

  &--william-mcnulty
    animation-delay: 60s

.quote__content
  +center(40em)
  font-size: 1.5em


.quote__attribution
  display: flex
  align-items: center
  justify-content: center


.quote__image
  width: 4em
  height: 4em
  border-radius: 2em
  overflow: hidden
  margin-right: 1em
  border: 0.25em solid $blue

.quote__name
  +lato("normal", "thin")

.quote__title,
.quote__organization
  font-size: 0.75em
  color: lighten($gray, 15%)

@keyframes carousel
  0%
    opacity: 0
  2%, 23%
    opacity: 1
  25%, 100%
    opacity: 0