.thanks
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 1em

  display: flex
  align-items: center
  justify-content: center

  background: url(/img/backgrounds/hero.jpg) no-repeat center center fixed
  background-size: cover

  text-align: center
  color: $white

.thanks__logo
  max-width: em(200)
  margin: auto
  margin-bottom: 4em

.thanks__message
  font-size: 3em
  +lato("normal", "thin")
  margin-bottom: 0.5em

.thanks__sub-message
  margin-bottom: 4em

  a,
  a:link,
  a:active,
  a:hover,
  a:visited
    color: $white
    text-decoration: underline